<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/pphInfo.css' %}">

    <title>Confirmar Eliminación {{producto.nombre}}</title>
</head>
<body class="container mt-5">
    <div id="header-container">
        <div id="catalog-title">
            <a href="{% if producto.id %}{% url 'productInfo' producto.id %}{% else %}{% url 'medicinal' %}{% endif %}">
                CATÁLOGO DE<br> MEDICINA NATURAL
            </a>
        </div>
        <img src="{% static 'img/Papahe/LOGO-DEF2023-02.png' %}" class="pphLogoMed" alt="Logo">
        <div class="ellipse"></div>

    </div>

    
    <br>
    <h2>¿Confirmar la eliminación del producto {{ producto.nombre }}?</h2>
<br>
<br>
        <a href="{% url 'eliminar_producto' producto.id %}" class="btn btn-outline-danger"><h3><i
            class="bi bi-x" ><span></span>ELIMINAR {{ producto.nombre }}</i></h3></a>
            
        <br>
        <a href="{% url 'productInfo' producto.id %}" class="btn btn-outline-secondary"><h3><i class="bi bi-check-lg"><span></span>REGRESAR</i></h3></a>

</body>
</html>